<div
  class="modal fade"
  [id]="'modal'"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Name: {{ venue()?.name }}
          <app-save-button [idCategory]="venue()?.id+''" [category]="'venues'" [userName]="userId()"></app-save-button>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <p>Name: {{ venue()?.name }}</p>
          <img class="modal-logo" [src]="venue()?.image" alt="logo"/>
        </div>
        <p>Id: {{ venue()?.id }}</p>
        <p>Address: {{ venue()?.address }}</p>
        <p>Country: {{ venue()?.capacity }}</p>
        <p>Country: {{ venue()?.city }}</p>
        <p>Country: {{ venue()?.country }}</p>
        <p>Country: {{ venue()?.surface }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
