<div class="d-flex grid-template">
  <div class="menu w-20 d-flex flex-column justify-content-between">
    <div>
      <div class="menu-header">
        Category
      </div>
      <div class="menu-category">
        <div>Leagues</div>
        <div>Teams</div>
        <div>Couches</div>
        <div>Players</div>
        <div>Venues</div>
      </div>
    </div>
    <div class="menu-about ">About</div>
  </div>

    <div class="content">
      <div class="header d-flex justify-content-between align-items-center">
        <img src="assets/img/banner.png" alt="lll" class="logo">
        <div class="d-flex header-content align-items-center">
          <div>Profile: {{'Name'}} </div>
          <div>LogOut</div>
          <div class="position-relative search">
            <input type="text" class="form-control input-header " placeholder="Search">
            <i class="bi bi-search search-icon"></i>
          </div>
        </div>
      </div>

      <div class="main main-container">

        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template grid-template grid-template
        grid-template grid-template grid-template
      </div>
      <div class="footer">HEheasdasd</div>
    </div>
</div>
