<div class=" h-100 d-flex justify-content-center align-items-center">
  <form class=" reg-form">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" aria-describedby="Name">
    </div>
    <div class="mb-3">
      <label for="surname" class="form-label">Surname</label>
      <input type="text" class="form-control" id="surname" aria-describedby="Surname">
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="Username">
    </div>
    <div class="mb-3 ">
      <label for="mail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="mail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm password</label>
      <input type="password" class="form-control" id="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
