.player-container {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #3a3d42;
  background-color: #e4e6ef;
  border-radius: 7px;
}

.player-info {
  height: 14rem;
  margin: 1rem;
  background-color: white;
  border-radius: 7px;
}

.player-statistics {
  margin: 1rem;
  background-color: white;
  border-radius: 7px;
}

.img-player {
  width: 10rem;
  height: 10rem;
  background-color: white;
  margin: 1rem;
}

div p {
  font-weight: 600;
  font-size: 1.20rem;
  padding: 1rem;
}
