<div [class]="'d-flex w-100' + (!leaguesArray.length ? ' h-100' : '')">
  <div class="menu">
    <app-menu [menuName]="'Leagues'"></app-menu>
  </div>
  <div class="content">
    <div>
      <app-header></app-header>
    </div>
    <div class="leagues-main">
      <div class="league-header">Football Leagues</div>
      <div class="league_container">
        <table class="w-100" style="border-collapse: collapse">
          <thead class="w-100">
            <tr class="cursor-p">
              <th (click)="sortByName(leaguesArray, 'id')">League Id</th>
              <th (click)="sortByName(leaguesArray, 'country')">Country</th>
              <th (click)="sortByName(leaguesArray, 'name')" class="">Name</th>
              <th (click)="sortByName(leaguesArray, 'season')">Season</th>
              <th (click)="sortByName(leaguesArray, 'start')">Start</th>
              <th (click)="sortByName(leaguesArray, 'end')">End</th>
              <th (click)="sortByName(leaguesArray, 'current')">Current</th>
            </tr>
          </thead>
          <tbody>
            @for (
              item of leaguesArray
                | paginate: { itemsPerPage: 20, currentPage: p };
              track $index
            ) {
              <tr
                class="cursor-p"
                (click)="passDataToModal(item)"
                data-bs-toggle="modal"
                [attr.data-bs-target]="'#modal'"
                [class]="$index % 2 == 0 ? 'odd-backg' : ''"
              >
                <td>{{ item.league.id }}</td>
                <td>
                  <img [src]="item.country.flag" class="img-flag" />{{
                    item.country.name
                  }}
                </td>
                <td>
                  <img [src]="item.league.logo" class="img-name" />{{
                    item.league.name
                  }}
                </td>

                <td>{{item?.seasons?.[0]?.year }}</td>
                <td>{{ item?.seasons?.[0]?.start }}</td>
                <td>{{ item?.seasons?.[0]?.end }}</td>
                <td>{{ item?.seasons?.[0]?.current }}</td>
              </tr>
            }
          </tbody>
        </table>
        <br />
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<app-leagues-modal [leagueInfo]="league"></app-leagues-modal>
