<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    [ngClass]="{ show: show, hide: !show }"
    id="liveToast"
    class="toast bg-warning"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <strong class="me-auto fs-5">Warning</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
        (click)="hideToast()"
      ></button>
    </div>
    <div class="toast-body text-white">
      Sorry Something went wrong:
      <strong>
        {{ message }}
      </strong>
    </div>
  </div>
</div>
