
body {
  width: 100%;
  height: 100vh;
}

.validation {
  color: red;
}

.content {
  width: 85%;
}

.menu {
  width: 15%;
  padding: 1rem;
  background-color: #24231f;
  color: #d6b531;
  height: 100%;
}

.header {
  height: 12%;
  background-color: white;
}

.reg-form {
  width: 40%;
  margin: 5rem;
}

.card-text-profile {
  margin: 0 0 .5rem ;
}

.main {
  height: 88%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #e0d194;
}


td, th {
  padding: 1rem 1rem;
  cursor: pointer;
}
.cursor-p {
  cursor: pointer;
}
