
body {
  width: 100%;
  height: 100vh;
}

.validation {
  color: red;
}

.odd-backg {
  background-color: #e4e6ef;
}

.content {
  width: 85%;
}

.menu {
  width: 15%;
  padding: 1rem;
  background-color: #24231f;
  color: #d6b531;
  height: 100%;
}

.header {
  height: 12%;
  background-color: white;
}

.reg-form {
  width: 40%;
  margin: 5rem;
}

.card-text-profile {
  margin: 0 0 .5rem ;
}

.main {
  height: 88%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #e0d194;
}


td, th {
  padding: 1rem 1rem;
  cursor: pointer;
}
.cursor-p {
  cursor: pointer;
}


.box {
  background-color: papayawhip;
  margin: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll;
  width: 13rem;
  height: 30rem;
}

.info-box {
  background-color: white;
  margin: 1rem;
  padding: 0;
  border-radius: 7px;
}

.tab-players {
  border-radius: 7px 7px 0 0;
  background-color: #e4e6ef;
  padding: 1rem;
}


.main-players {
  background-color: #e0d194;
  padding-bottom: 1rem;
}
