<app-error-toasts #error></app-error-toasts>
<app-warning-toasts #warning></app-warning-toasts>
<app-header [userId]="userData?.id"></app-header>

<div class="mt-4 main-container container-xxl">
  <div class="odd-backg cards p-4 m-2">
    <div class="d-flex justify-content-between">
      <div class="category-name">Leagues</div>
      <div class="category-see-more" routerLink="/leagues">See more</div>
    </div>
    <div
      class="d-flex justify-content-between align-items-center container-cards"
    >
      @if (!this.limitedLeagues.length) {
        <p class="error-info">There are no leagues</p>
      }

      @for (item of limitedLeagues; track $index) {
        <app-leagues-card [league]="item"></app-leagues-card>
      }
    </div>
  </div>
  <div class="odd-backg cards p-4 m-2">
    <div class="d-flex justify-content-between">
      <div class="category-name">Teams</div>
      <div class="category-see-more" routerLink="/teams">See more</div>
    </div>
    <div
      class="d-flex justify-content-between align-items-center container-cards"
    >
      @if (!this.limitedTeams.length) {
        <p class="error-info">There are no teams</p>
      }
      @for (item of limitedTeams; track $index) {
        <app-team-card [teams]="item"></app-team-card>
      }
    </div>
  </div>
  <div class="odd-backg cards p-4 m-2">
    <div class="d-flex justify-content-between">
      <div class="category-name">Coaches</div>
      <div class="category-see-more" routerLink="/coaches">See more</div>
    </div>
    <div
      class="d-flex justify-content-between align-items-center container-cards"
    >
      @if (!this.limitedCoach.length) {
        <p class="error-info">There are no Coaches</p>
      }
      @for (item of limitedCoach; track $index) {
        <app-coach-card [coach]="item"></app-coach-card>
      }
    </div>
  </div>
  <div class="odd-backg cards p-4 m-2">
    <div class="d-flex justify-content-between">
      <div class="category-name">Players</div>
      <div class="category-see-more" routerLink="/players">See more</div>
    </div>
    <div
      class="d-flex justify-content-between align-items-center container-cards"
    >
      @if (!this.limitedPlayers.length) {
        <p class="error-info">There are no players</p>
      }
      @for (item of limitedPlayers; track $index) {
        <app-player-card [player]="item"></app-player-card>
      }
    </div>
  </div>
  <div class="odd-backg cards p-4 m-2">
    <div class="d-flex justify-content-between">
      <div class="category-name">Venues</div>
      <div class="category-see-more" routerLink="/venues">See more</div>
    </div>
    <div
      class="d-flex justify-content-between align-items-center container-cards"
    >
      @if (!this.limitedVenues.length) {
        <p class="error-info">There are no venues</p>
      }
      @for (item of limitedVenues; track $index) {
        <app-venue-card [venue]="item"></app-venue-card>
      }
    </div>
  </div>
</div>
